.container{
    /* background-color: var(--main-color); */
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background-color: var(--light-color);
}
.containerScrolled{
    position: fixed;
    left: 0;
    right: 0;
    top: -200px;
    display: flex;
    justify-content: space-between;
    background : linear-gradient(to bottom ,var(--third-color) 10%,var(--second-color) 80%);
    padding-top: 5px;
    padding-bottom: 5px;
    animation: navFixed 0.3s forwards ;
    z-index: 100;

}
@keyframes navFixed {
    form {
        top: -200px;
    }to{
        top: 0;
    }
    
}

.container ul{
    display: flex;
    align-items: center;
    color: var(--main-color);
}
.containerScrolled ul{
    display: flex;
    align-items: center;
    color: var(--light-color);
}
.container ul li,.containerScrolled ul li{
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}