.container{
    display: flex;
}
.container img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container h1{
    color: var(--main-color);
    font-weight: 600;
    font-family: var(--raleway);
}
.container p{
    color: var(--temp-color);
    font-size: var(--font-size-s);
    font-family: var(--farsan);
}
.content{
    position: relative;
    font-size: var(--font-size-xs);
}
.content::before{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 5px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background: linear-gradient(to left, var(--light-color),var(--main-color));
}
.first{
    width: 50%;
}
.second ul{
    color: var(--temp-color);
    font-size: var(--font-size-xs);
}
.second ul li{
    position: relative;
    padding-left: 15px;
   
    
}
.animate{
    opacity: 0;
    transform: translateY(5px);
   animation: upDiv 0.8s forwards linear;
}
@keyframes upDiv {
    from{
        opacity: 0;
        transform: translateY(5px)
    }to{
        opacity: 1;
        transform: translateY(0px)
    }
}
.second ul li::before{
    content: "✔"; /* Unicode checkmark */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    font-size: 14px;
    color: var(--second-color);
    
}
/* Banking Page */
.bankContainer{
    /* background-color: red; */
}
.bankContainer h3{
    font-size: var(--font-size-xl);
    font-weight: 600;
    text-align: center;
}
.firstSectionCard{
    background-color: var(--light-color);
    /* background : linear-gradient(var(--light-color) ,var(--third-color) ,var(--second-color), var(--main-color)); */
    /* border: 1px solid var(--third-color); */
    border-radius: 10px ;
    box-shadow: var(--shadow-box);
    transition: 0.3s;
}
.firstSectionCard h4{
    font-size: var(--font-size-s);
    color: var(--main-color);
    font-weight: 600;
    text-transform: capitalize;
}
.firstSectionCard p{
        font-size: var(--font-size-s);
}
.firstSectionCard:hover{
    transform: translateY(-5px);
}
.secondSection{
    background: linear-gradient(var(--second-color),var(--main-color));
    color: var(--light-color);
    font-size: var(--font-size-l);
    font-weight: 500;
}




@media (max-width:900px) {
    .container{
        flex-direction: column-reverse;
    }
    .container img{
        max-height: 300px;
    }
    .first{
        width: 100%;
    }    
    /* Bank pages */
    .firstSection{
        flex-wrap: wrap;
        flex-direction: column;
    }
}